name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: gradle--${{ hashFiles('gradle/libs.versions.toml') }}-${{ hashFiles('**/build.gradle.kts') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}

      - name: Core Unit tests
        run: ./gradlew :lce:test
      - name: RxJava3 Module Unit Tests
        run: ./gradlew :lce-rxjava3:test
      - name: Coroutine/Flow Module Unit Tests
        run: ./gradlew :lce-coroutines:test
      - name: Test Library tests
        run: ./gradlew :lce-test:test
